header{
    position: absolute;
width: 1440px;
height: 815px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0.01%, rgba(0, 0, 0, 0) 100%), url(img/image1.svg);
}
.menuhead{
    position: absolute;
width: 39px;
height: 16px;
left: 184px;
top: 58px;

/* Gilroy ( Light ) */

font-family: 'Gilroy';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;

/* #FCFCFC */

color: #FCFCFC;
}
a{
    text-decoration: none;
}
h1{
    color:blue;
}